<p>error-page works!</p>


<ul>
  <li>
    <a routerLink="/auth/login">Ir login</a>
  </li>
  <li>
    <a routerLink="/auth/register">Ir registro</a>
  </li>
  <li>
    <a routerLink="/heroes/listado">Ir listado heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">Ir agregar heroes</a>
  </li>
  <li>
    <a routerLink="/heroes/editar/:id">Ir editar heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">Ir buscar heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/:id">Ir ver heroe</a>
  </li>
</ul>
