<mat-grid-list cols="1" *ngIf="!heroe; else divHeroe">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #divHeroe>
  <div
    fxLayout="row"
    fxLayoutAlign="space-around"
    fxLayout.xs="column"
    fxLayoutGap="20px"
  >
    <div fxFlex="50%" class="container-img">
      <h1>
        {{ heroe.superhero }} <small> - {{ heroe.alter_ego }}</small>
      </h1>
      <mat-divider></mat-divider>
      <br />
      <img [src]="heroe | imagen" />
    </div>
    <div fxFlex="50%" class="container-img">
      <h1>{{ heroe.publisher }}</h1>
      <mat-divider></mat-divider>
      <br />
      <mat-card class="card-features">
        <mat-list>
          <mat-list-item class="card-features__list--item">
            <i class="material-icons">offline_bolt</i>
            <mat-label>{{ heroe.superhero }}</mat-label>
          </mat-list-item>

          <mat-list-item class="card-features__list--item">
            <i class="material-icons">menu_book</i>
            <mat-label>{{ heroe.publisher }}</mat-label>
          </mat-list-item>

          <mat-list-item class="card-features__list--item">
            <i class="material-icons">face</i>
            <mat-label>{{ heroe.alter_ego }}</mat-label>
          </mat-list-item>

          <mat-list-item class="card-features__list--item">
            <i class="material-icons">flash_on</i>
            <mat-label>{{ heroe.power }}</mat-label>
          </mat-list-item>

        </mat-list>

        <mat-card-actions>
          <button mat-button color="warn" (click)="regresar()">Regresar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>


